@import url('https://fonts.googleapis.com/css2?family=Archivo+Narrow&family=Mingzat&family=Oswald:wght@200;500&family=Roboto+Condensed&display=swap');
* {
  margin: 0;
  padding: 0;
}

.loader {
  height: 100vh;
  background-color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loader img {
  width: 100px; /* Ajusta el tamaño de tu logo */
  height: auto;
}

.hidden {
  overflow: hidden;
}

.section {
  height: 100vh;
  background-size: cover;
  background-position: center;
  color: #fff;
  text-align: center;
  text-wrap: wrap;
  display: flex;
  flex-direction: column;
  justify-content: center;
}



#pass_1 {
  background-image: linear-gradient(to bottom,#000000,  #ffffff00);
  height: 200px;
}

#section_2 {
  background: #06031200;
  display: flex;
  flex-direction: row;
  gap: 5%;
  align-items: center;
}

.text_section_2 {
  background: #da676700;
  width: 50%;
  height: 70%;
  display: flex;
  flex-direction: column;
  gap: 3vw;
}

.text_superior {
  font-family: Oswald;
  display: flex;
  flex-direction: column;
  align-items: start;
  font-size: 4.5vw;
  width: 100%;
  height: auto;
  background: rgba(0, 0, 0, 0);
}

#text_sup_1 {
  color: black;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes slideLeft {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideRight {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }
  to {
    transform: translateX(0%);
    opacity: 1;
  }
}

@keyframes slideUp {
  from {
    transform: translateY(100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slideDown {
  from {
    transform: translateY(-100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

#text_sup_2 {
  width: 100%;
  background: #0aaf68;
  text-align: left;
}

#text_inf {
  width: 85%;
  height: auto;
  background: rgba(0, 0, 255, 0);
  font-family: 'Archivo Narrow';
  font-size: 30px;
  text-align: left;
  color: black;
}

.ver_articulos {
  width: 16vw;
  background-color: transparent;
  border: 2px solid #0aaf68;
  color: #0aaf68;
  padding: 10px 10px;
  font-family: 'Roboto Condensed';
  font-size: 20px;
  cursor: pointer;
  font-weight: 600;
  border-radius: 5px;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.ver_articulos:hover {
  background-color: #0aaf68;
  color: white;
}

#pass_2 {
  background-image: linear-gradient(to top,#000000,  #ffffff00);
  height: 200px;
}

#section_3 {
  background: #000000;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.img_vocationlab {
  background: rgba(255, 255, 255, 0);
  width: 35%;
  height: 60%;
  display: flex;
  align-items: center;
  justify-content: start;
}

#vocationlab {
  width: auto;
  height: 100%;
}

.text_section_3 {
  width: 55%;
  height: 80%;
  display: flex;
  flex-direction: column;
  align-items: end;
  gap: 3vw;
}

#text_3_superior {
  display: flex;
  align-items: end;
}


#text_3_sup_2 {
  width: 100%;
  background: #8844FF;
  color: #000000;
  text-align: right;
}

#text_dif {
  width: 70%;
  height: auto;
  font-family: 'Archivo Narrow';
  font-size: 30px;
  text-align: left;
  color: rgb(213, 213, 213);
}

.mas_info {
  width: 16vw;
  background-color: transparent;
  border: 2px solid #fff;
  color: #fff;
  padding: 10px 10px;
  font-family: 'Roboto Condensed';
  font-size: 20px;
  cursor: pointer;
  font-weight: 600;
  border-radius: 5px;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.mas_info:hover {
  border-color: #000000;
  background-color: #8844FF;
  color: rgb(0, 0, 0);
}

/* Estilos para el contenedor section_4 */
#section_4 {
  display: flex;
  align-items: center;
  justify-content: end;
  background-color: #7ab0ac00;
  position: relative;
}

/* Estilos para el texto en la columna derecha */
.text_section_4 {
  position: absolute;
  right: 0;
  background: #a4a4a400;
  color: #000000;
  width: 43%;
  height: 85%;
  display: flex;
  flex-direction: column;
  font-family: Oswald;
  font-size: 4.5vw;
  text-align: left;
  gap: 50px;
}

/* Estilos para el rectángulo entre ambas columnas (detrás de todo) */
.rectangle {
  width: 65vw; /* Ancho igual al 100% del contenedor */
  height: 100px; /* Altura del rectángulo (ajusta según tu preferencia) */
  background-color: #000000; /* Color del rectángulo (puedes cambiarlo) */
  position: absolute;
  right: 0;
  top: 57%; 
  z-index: -1; /* Detrás de todo */
}

#text_3_1 {
  width: 100%;
  background: #FF3737;
  color: #fff;
}

#text_3_2 {
  color: #fff;
}

.hacer_test {
  width: 16vw;
  background-color: transparent;
  border: 2px solid #000000;
  color: #000000;
  padding: 10px 10px;
  font-family: 'Roboto Condensed';
  font-size: 20px;
  cursor: pointer;
  font-weight: 600;
  border-radius: 5px;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.hacer_test:hover {
  background-color: #000000;
  color: white;
}

#profesionals {
  background: #44fffc00;
  width: 45%;
  height: 95%;
  position: absolute;
  display: flex;
  justify-content: end;
  left: 0;
  z-index: 3;
}

/* Estilos para la imagen "profesional" */
.profesional {
  width: auto;
  height: 100%;
}

#liness {
  background: #391b6c00;
  width: 50%;
  height: 100%;
  position: absolute;
  left: 0;
  display: flex;
  justify-content: start;
  z-index: 2;
}

/* Estilos para la imagen "lines" en la columna izquierda (detrás de "profesional") */
.lines {
  height: 100%; /* Ancho del 100% del contenedor */
  left: 0; /* Alineado a la izquierda */
}

/* Estilos para el footer */
/* Estilos generales para el footer */
footer {
  background-color: #000000;
  color: #fff;
  text-align: center;
  padding-top: 8vw;
  padding-bottom: 2vw;
  padding-left: 5vw;
  padding-right: 5vw;
}

/* Estilos para la sección superior del footer */
.text_foot_sup {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  align-items: center;
  margin-bottom: 20px;
  font-family: Oswald;
  font-size: 20px;
}

.text_foot_sup .contribuitors{
  font-family: sans-serif;
  color: #d1d1d1;
}

/* Estilos para las columnas en la sección superior */
.cols {
  text-align: left;
  flex-direction: column;
  display: flex;
  gap: 5px;
}

/* Estilos para el logo en la primera columna */
.logo_foot img {
  max-width: 100%;
  height: auto;
}

/* Estilos para las redes sociales y contactos */
.logos img {
  background:#0aaf6700;
  width: 30px;
  height: 30px;
  margin-right: 10px;
}

#github {
  width: 32px;
  height: auto;
}

#gmail {
  width: 30px;
  height: auto;
}

#wsp {
  width: 25px;
  height: auto;
}

#fb {
  width: 27px;
  height: auto;
}

#gmail {
  width: 30px;
  height: auto;
}

/* Estilos para la línea horizontal */
.rectangle_foot {
  width: 100%;
  height: 2px;
  background-color: #fff;
  margin: 50px 0;
}

/* Estilos para la sección inferior del footer */
.text_foot_inf {
  font-family: sans-serif;
  text-align: center;
  font-size: 14px;
  margin-top: 50px;
}