@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Medula+One&display=swap');
@import "tailwindcss";

@theme {
  --font-inter: "Inter", sans-serif; 
  --font-medula: "Medula One", sans-serif; 

  --color-gray-150: #F2F2F2;
  --color-gray-350: #929292;
  
  --color-main-50: #F6F3FF;
  --color-main-100: #E6DEFF;
  --color-main-200: #B8AAFF;
  --color-main-300: #5748F3;
  --color-main-400: #620AFF;
  --color-main-500: #6338FF;
  --color-main-600: #775CFE;
  --color-main-700: #785DFF;
  --color-main-800: #8269FF;
  --color-main-900: #8469F8;
  
  --color-secondary-400: #B863ED;
  --color-secondary-500: #E24EF4;
  --color-secondary-600: #E752DD;
  --color-secondary-700: #C961E9;
  --color-secondary-800: #6F549C;
  
}

.fullscreen-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-image: url("bg_home.png");
  background-size: cover;
  background-position: center;
  z-index: -1;
}